<ng-container *ngIf="todos$ | async as todosState">
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <h2>Todos</h2>
      <div *ngIf="todosState.loading">Loading...</div>
    </div>
    <div *ngIf="todosState.error">Message: {{ todosState.error.message }}</div>
    <div
      *ngIf="todosState.entities"
      class="todos"
      fxLayout="column"
      fxLayoutAlign="start start"
      fxLayoutGap="40px"
    >
      <div
        *ngFor="let todo of todoItems$ | async"
        class="todo"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxLayoutGap="10px"
      >
        <h3 class="todo__title">{{ todo.title }}</h3>
        <div class="todo__description" [innerHTML]="todo.description"></div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
          <input type="checkbox" [checked]="todo.done" disabled />
          <div>Done</div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
