nav {
  ul {
    list-style-type: none;
    padding-left: 0px;

    li {
      display: inline-block;
      padding: 10px;
    }

    li.router-link-active {
      font-weight: bold;
    }
  }
}

section.content {
  padding: 10px;
}
