<div fxLayout="column" fxLayoutGap="20px">
  <div class="spacer"></div>
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex="0 0 calc(100% - 40px)" fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutGap="20px">
        <h1>Angular</h1>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
          <button routerLink="">Home</button>
          <button routerLink="/auth">Auth</button>
          <button routerLink="/counter">Counter</button>
          <button routerLink="/admin">Admin</button>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="spacer"></div>
</div>
